# Database
SPRING_DATASOURCE_URL=your_datasourse_url
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=86400000

# Spring
SPRING_PROFILES_ACTIVE=dev
