version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:23.0  # CircleCI image with JDK 23
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: Install Maven
          command: |
            sudo apt update && sudo apt install -y maven
      - run:
          name: Build project with Maven
          command: mvn clean package -DskipTests
      - persist_to_workspace:
          root: .
          paths:
            - target/investments-0.0.1-SNAPSHOT.jar

  test:
    docker:
      - image: cimg/openjdk:23.0
      - image: cimg/postgres:15.4
        environment:
          POSTGRES_USER: skywalker
          POSTGRES_PASSWORD: root
          POSTGRES_DB: investments_app
    steps:
      - checkout
      - run:
          name: Install Maven
          command: |
            sudo apt update && sudo apt install -y maven
      - run:
          name: Run tests
          command: mvn test

  docker-build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t investments-app .
      # если у тебя есть Docker Hub — можно добавить push:
      # - run:
      #     name: Push image to Docker Hub
      #     command: |
      #       echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      #       docker tag investments-app $DOCKERHUB_USER/investments-app:latest
      #       docker push $DOCKERHUB_USER/investments-app:latest

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - docker-build:
          requires:
            - test